site_name: KFabrik Documentation
site_description: Open-source tool to democratize cloud-native AI development
site_url: https://kfabrik.io/

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - PRFAQ: prfaq.md
  - Contributing: contributing.md

theme:
  name: material
  palette:
    - scheme: default
      primary: blue
      accent: blue
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate

markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true

plugins:
  - search
